* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: #47a8e5;*/
    color: #676767;
}

body {
    background: #fdfdfd;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 1rem;
}

h1 {
    margin-bottom: 0 !important;
    font-size: medium !important;
}

/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));*/
/*    grid-gap: 1rem;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: auto;*/
/*    padding: 1rem 0;*/
/*    color: #db4938;*/
/*}*/

/* qreader */
/*#qr-reader {*/
/*    margin: 0 auto;*/
/*    width: auto;*/
/*}*/

a {
    color: #1F5B99 !important;
    text-decoration: unset !important;
}

a:hover {
    text-decoration: underline !important;
    color: #E65400;
}

/*.headline {*/
/*    width: 194px !important;*/
/*    margin: 0 auto !important;*/
/*    text-align: left;*/
/*}*/

.input-label {
    text-align: left;
    padding: 10px;
}

.text-input {
    width: 350px !important;
    max-width: 350px;
    border: 1px solid #676767;
    border-radius: 7px;
    padding: 10px;
}

#recent-scan {
    border-bottom-right-radius: initial;
    border-top-right-radius: initial;
    width: 309px !important;
    min-height: 2.875rem;
    height: 100px;
}

#scan-history {
    min-height: 2.875rem;
}

.text-input :focus :focus-visible {
    border: 2px solid #676767 !important;
}

/*noinspection CssUnusedSymbol*/
.qrPreviewVideo {
    min-width: 200px;
    min-height: 200px;
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 350px;
    background-color: #000 !important;
}

.version-info {
    margin: 10px 0;
    text-align: left;
    font-size: 85%;
    font-weight: 300;
}

.github {
    padding: 10px 0 10px;
    text-align: left;
}

#scan-text-div, #scan-history-div {
    display: none;
    text-align: left;
}

/* Clipboard */
#recent-scan-parent {
    display: flex;
    color: #000;
    height: auto;
    /*float: left;*/
}

.btn-clipboard {
    padding: 0 !important;
    border: 1px solid #676767 !important;
    border-radius: 0 7px 7px 0 !important;
    border-left-width: 0 !important;
}

.btn-clipboard, #clipboard-button {
    width: 41px;
}

#clipboard-button {
    background: url('../img/icons/copy.svg') center no-repeat;
    background-size: 70%;
    width: 100% !important;
    height: 100%;
    display: block;
}

/*noinspection CssUnusedSymbol*/
.confirm {
    background: url('../img/icons/tick.svg') center no-repeat !important;
    color: #53bd00 !important;
    background-size: 60% !important;
}

.form-field-input-panel {
    padding-top: 10px;
}

#btn-clear-history {
    background-image: url("../img/icons/trash-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #fff;*/
    /*color: #be0a0a;*/
    border: 0;
    width: 40px;
    height: 40px;
}

/*#scan-history-label{*/
/*    */
/*}*/

/* NoScript */
.noscript-h1 {
    color: #cb0909 !important;
    font-weight: bold;
    font-size: 130% !important;
    margin-bottom: 8px !important;
}

.noscript-p {
    color: #404040 !important;
    margin-top: 10px;
}

.noscript-p.footer {
    /*color: #707070 !important;*/
    font-style: italic;
}

.noscript-p-error {
    color: #cb0909 !important;
}

.noscript-i {
    font-weight: bold;
    font-style: italic;
    color: #404040 !important;
}

.noscript-div {
    width: 22em;
    position: absolute;
    left: 50%;
    margin-left: -11em;
    background-color: white;
    border: 1px solid #cb0909;
    padding: 10px;
    font-family: sans-serif;
    text-align: left;
}

.modal {
    height: auto;
}

.btn-cross {
    padding: 5px;
}

/* general style */
code {
    color: #1f1f1f !important;
    background-color: #f0f0f0;
}

.modal-code-url {
    font-size: medium !important;
}

#hint-panel {
    max-width: 350px;
    /*padding-left: 15px;*/
}

